@font-face { 
font-family: "mapolice"; 
src: url(PinyonScript/mapolice.ttf) format("truetype"); }

@font-face { 
font-family: "comic"; 
src: url(BadComic-Regular.ttf) format("truetype"); }

@font-face {
    font-family:policetitre;
    src: url("exmouth_.ttf");
}


body { 

font-weight: normal;
text-decoration : none;
font-family: 'Helvetica', 'Arial', sans-serif;
}

h1 {
	font-size: 41px;
	padding:-100px;
	font-family: 'policetitre';
}

h2 {
	font-size: 12px;
	margin-inline: 10px;
	margin-left: 5px;
	margin-top: 20px;
	font-family:'Helvetica', 'Arial', sans-serif;;
}

h3 {
	font-size: 15px;
	margin-inline: 10px;
	margin-top: 20px;
	margin-left: 5px;

}

h5 {
	font-size: 22px;
	font-family: 'policetitre';
	margin-left: 8px;
	margin-top: -5px;
}

p {
	font-size: 12px;
	margin-left: 5px;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

img {
	height: 550px;
}

video {
	height: 550px;
}


.horizontal 
{ width: 550px;
  height: 375px;}


.accueil1 {
display: flex;	
flex-wrap: wrap;
}

.entete{
	display: table-column;
	margin-top:-10px;
}

.textes {
font-family: 'Helvetica', 'Arial', sans-serif;
font-size: 13px;
}

.miseenpagetexte
{
	margin-left: 100px;

}

.photos1
{margin-right: 50px;
	margin-top: 20px;
 margin-left: 100px;
 height: 550px;
}

.photos2
{margin-left: 332px;
	margin-top: 25px;
	height: 550px;
}

.photos3
{margin-left: 332px;
	margin-top:-170px;
	height: 550px;
}

.photosdesign1
{margin-left:-20px;
}

.photosdesign2
{margin-left:300px;
}

.photostissage1
{ margin-left: 50px;
	margin-top: 20px;
}

.photostissage2
{ margin-left: 284px;
}

.tricot
{color:pink;
text-decoration: none;}

.square {
  object-fit: cover;
  width: 375px;
  height: 375px;
}

