@font-face { 
font-family: "mapolice"; 
src: url(PinyonScript/mapolice.ttf) format("truetype"); }

@font-face { 
font-family: "comic"; 
src: url(BadComic-Regular.ttf) format("truetype"); }


body { 

font-weight: normal;
text-decoration : none;
font-family: 'Helvetica', 'Arial', sans-serif;
}

h1 {
	font-size: 18px;
	padding:-100px;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

h2 {
	font-size: 15px;
	margin-inline: 10px;
	margin-left: 5px;
	margin-top: 20px;
	font-family:'Helvetica', 'Arial', sans-serif;;
}

h3 {
	font-size: 10px;
	margin-inline: 10px;
	margin-top: 20px;
	margin-left: 5px;

}

h4 {
	font-size: 10px;
	margin-top: -10px;
	margin-left: 5px;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

h5 {
	font-size: 15px;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

p {
	font-size: 9px;
	margin-left: 5px;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

a {
	text-decoration: none;
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: black;
}

img {
	height: 550px;
}

.horizontal 
{ width: 550px;
  height: 375px;}


.accueil1 {
display: flex;	
flex-wrap: wrap;
}

.entete{
	display: table-column;
	margin-top:-10px;
}

.textes {
font-family: 'Helvetica', 'Arial', sans-serif;
font-size: 13px;
}

.miseenpagetexte
{
	margin-left: 100px;

}

.photos1
{margin-right: 50px;
	margin-top: 20px;
 margin-left: 100px;
 height: 550px;
}

.photos2
{margin-left: 276px;
	margin-top: 25px;
	height: 550px;
}

.photos3
{margin-left: 276px;
	margin-top:-170px;
	height: 550px;
}

.photostissage1
{ margin-left: 100px;
	margin-top: 20px;
}

.photostissage2
{ margin-left: 276px;
}

.tricot
{color:pink;
text-decoration: none;}

.square {
  object-fit: cover;
  width: 375px;
  height: 375px;
}
